@media only screen and (min-width: 64rem) {

    /* HEADER */
    header {
        padding: 0rem;
        display: flex;
    }

    .header-logo {
        margin: 0 1rem;
    }

    .hamburger-button {
        display: none;
    }

    .navigation {
        grid-row: auto;
        grid-column: auto;
        position: static;
        transform: translateY(0px);
        z-index: 10;

        transform: none;
        visibility: visible;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        margin: auto;
    }

    .navigation li {
        text-align: center;
    }

    .navigation a {
        font-size: 1rem;
        padding: 2rem 4rem;
    }

    .dark-mode-button {
        height: 64px;
        width: 64px;
        justify-content: center;
        align-items: center;
        margin: auto .8rem auto 0;
    }

    /* FOOTER */

    .scroll-button {
        display: none;
    }

    .hero {
        width: 100%;
        height: auto;
    }
}