@media only screen and (min-width: 64rem) {

    /* HEADER */
    header {
        padding: 0rem;
        display: flex;
    }

    .header-logo {
        margin: 0 1rem;
    }

    .hamburger-button {
        display: none;
    }

    .navigation {
        grid-row: auto;
        grid-column: auto;
        position: static;
        transform: translateY(0px);
        z-index: 10;

        transform: none;
        visibility: visible;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        margin: auto;
    }

    .navigation li {
        text-align: center;
    }

    .navigation a {
        font-size: 1rem;
        padding: 2rem 4rem;
    }

    .dark-mode-button {
        height: 64px;
        width: 64px;
        justify-content: center;
        align-items: center;
        margin: auto .8rem auto 0;
    }

    /* FOOTER */

    footer {
        display: flex;
    }

    .site-links {
        display: block
    }

    .site-links ul {
        list-style-type: none;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }

    .site-links a {
        width: 10rem;
        padding: 1rem 0;
        display: block;
    }

    .scroll-button {
        display: none;
    }

    .social {
        grid-column: 2/3;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: none;
    }

    .social ul {
        padding: .5rem;
    }

    .social img {
        width: 32px;
        height: 32px;
    }

    .page-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: baseline;
        margin: 0 2rem;
        padding-bottom: 1rem;
    }

    footer .left {
        text-align: left;
        grid-column: 1/2;
        grid-row: 1;
    }

    footer .right {
        grid-column: 3/4;
        grid-row: 1;
        text-align: right;
    }

    /* HOME PAGE */
    .hero {
        width: 100%;
        height: auto;
    }
}