/* VARIABLES */
:root {
    --background: #ededed;
    --primary: #ffffff;
    --secondary: #565264;
    --accent-red: #b4041e;
    --complimentary-green: #668f76;

    --font-color: #2b303c;
    --main-font: "Plus Jakarta Sans", sans-serif;
    --bold: 700;
}

/* NORMALIZATION */
html {
    scroll-behavior: smooth;
    font-family: var(--main-font)
}

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header {
    padding: .1rem;
    background-color: var(--secondary);
    color: var(--background);
    display: grid;
    align-items: center;
    grid-template-columns: auto 64px;
    grid-template-areas:
        "header-logo hamburger-button"
        "navigation navigation";
}

.header-logo {
    grid-area: header-logo;
}

.hamburger-button {
    grid-area: hamburger-button;
    width: 64px;
    height: 64px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 9px;
    border: none;
    padding: 16px;
}

/* Menu icon transition from hamburger to 'X'*/
.hamburger-button span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--background);
    border-radius: 2px;
    transition: transform .3s ease, opacity .3s ease;
}

.hamburger-button.active span:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.hamburger-button.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-button.active span:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

.navigation {
    grid-area: navigation;
    display: none;
    position: relative;
}

.navigation.show {
    display: block;
    background-color: var(--background);
}

.navigation ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 1rem 2.55rem;
}

.navigation a {
    display: block;
    padding: .7rem;
    color: var(--font-color);
}

.navigation a.active {
    text-decoration: underline 2px;
    text-underline-offset: 3px;
}

.dark-mode-button {
    grid-area: dark-mode-button;
    position: absolute;
    top: 14px;
    right: 2px;
    height: 48px;
    width: 48px;
    background-color: transparent;
    border: none;
}

.dark-mode-button:hover {
    cursor: pointer;
}