/* SITE */

:root {
    --primary-color: #99b4e3;
    --secondary-color: #004B97;
    --background-color: #EEEEEE;
    --text-color: #000;

    --main-font: "IBM Plex Serif", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: var(--main-font);
}

/* HEADER */
header {
    background-color: var(--primary-color);
    align-items: end;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    width: 100%;
    border-bottom: 1px solid #000;
    overflow: hidden;
}

@media (max-width: 375px) {

    header,
    footer div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer h2 {
        text-align: center;
    }
}

.logo,
.weather-icon {
    margin: 1rem;
}

header p {

    margin: 1rem 1rem 1.1rem 2rem;
    font-size: 1.4rem;
}

/* NAVIGATION */
.nav {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    display: none;
    margin: .2rem 0;
}

.nav ul {
    list-style: none;

    padding: 0;
    margin-left: 1rem;
}

.nav a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 1rem;
    border-left: 1px solid #000;
}

.nav a:hover,
.nav a.active {
    background-color: #c7dafdce;
}

.nav.show {
    display: block;
}

.hamburger {
    grid-column: 3 / 4;
    border: none;
    background: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    color: #000;
    margin: 1rem;
    font-size: 2rem;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

.dark-theme-button {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    margin: .8rem .2rem;
    cursor: pointer;
    border-radius: 24px;
}

main h1 {

    font-size: 2.2rem;
    padding: 0 1rem;
}

div.business-display-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.display-button {
    font-size: 1rem;
    padding: .6rem 2.5rem;
    margin: 0 2rem;
    cursor: pointer;
    background-color: var(--primary-color);
    border: 1px solid #000;
    border-radius: 4px;
}

.display-button:hover,
.display-button:active {
    background-color: #6783b7;
}

/* FOOTER */
footer {

    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
    background-color: var(--primary-color);
    padding: .5rem;
}

footer div {
    padding: 1rem;
    max-width: 100%;
}

footer p {
    padding-top: .5rem;
}

footer h2 {
    font-size: 1rem;
}

.social {
    display: flex;
    justify-content: center;
}

.social a {
    padding: 1rem;
}

/* Directory Page */
.member-display {

    padding: 2rem 0;
}

.grid,
.spotlight-members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    grid-gap: 1rem;
}

.grid section,
.spotlight section {
    text-align: center;
    background-color: var(--primary-color);
    border: 8px solid var(--primary-color);
    border-radius: 12px;
    min-height: 250px;
    position: relative;
}

.grid section h2,
.spotlight section h2 {
    font-size: 1.2rem;
    padding: .5rem;
}

.grid section p,
.grid section a,
.spotlight section p,
.spotlight section a {
    font-size: .9rem;
    padding: .2rem;
}

.grid section div.body,
.spotlight section div.body {
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: .2rem;
    background-color: var(--background-color);
    border-radius: 12px;
    position: absolute;
    bottom: 1%;
}

.grid section div.info-container,
.spotlight section div.info-container {
    text-align: start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
}

.list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.list>* {
    background-color: var(--background-color);
}

.list>*:nth-child(odd) {
    background-color: #ddd;
}

.list h2,
.list p,
.list a {
    font-size: 1rem;
    padding: 1rem;
}

.list section {
    display: grid;
    grid-template-columns: 3fr 5fr;
}

.list section div.info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.email-list {
    display: none;
}

.list img {
    display: none;
}

.member-display a {
    text-decoration: none;
    color: var(--secondary-color);
}

.website-link::before {
    content: "🌐";
}

/* Home Page */
/* Note that the styling declarations used for the 'spotlight' sections are shared with the 'grid' view for the directory page and are located in that section of the stylesheet */

.opener {
    position: relative;
}

img.hero {
    width: 100%;
    height: auto;
    display: block;
}

.cta {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    padding: 0 0 2rem 0;
    background-image: linear-gradient(#00000099, #0000004d);
}

.cta h1 {
    color: #fff;
    text-shadow: 2px 2px 8px #000000cc;
}

.join-btn {
    font-size: 1.5rem;
    background-color: var(--secondary-color);
    border: 1px solid black;
    color: #fff;

    padding: .6rem 1.6rem;
    border-radius: 12px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

.join-btn:hover {
    transition: 0.2s ease-in-out;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.events {

    background-color: var(--primary-color);
    border-block: 10px solid var(--secondary-color);
}

.events h2 {
    padding: 1rem 0 0 1rem;
    margin: -10px 0 .7rem 5px;
}

.events ul {
    padding-left: .5rem;
}

.events li {
    list-style: none;
    padding: .8rem;
}

.events li:nth-child(odd) {
    background-color: #ddd;
}

.events li:nth-child(even) {
    background-color: var(--background-color);
}

.event-title,
.events p {
    padding: 0 1rem .1rem 1rem;
}

.event-title {
    background-color: var(--primary-color);
    display: inline;
    border-radius: 24px;
}

.events p {
    margin: 1rem 0;
}

.weather {
    display: grid;
    grid-template-columns: 2fr 1fr;

    padding: .5rem;
    justify-content: space-around;
    background-image: linear-gradient(#00000031, #0000004d);
    border-bottom: 5px solid var(--text-color);
}

.current {
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 12px;
}

.weather p {
    text-transform: capitalize;
}

.forecast {
    grid-column: 1/3;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
    text-align: center;
    margin-top: .5rem;
}

.forecast div {
    font-size: 1.4rem;
    max-height: 7.75rem;
    background-color: var(--primary-color);
    border-radius: 12px;
}

.forecast div>* {
    padding: .2rem;
}

.spotlight {
    background-color: var(--background-color);

}

.spotlight-header {
    padding: 3rem 0 .5rem 0;
    text-align: center;
}

.spotlight-header p {
    padding: .2rem;
}

.spotlight-members {
    padding: 1rem;
}

.spotlight p.membership {
    font-size: 1.2rem;
    color: #fff;
    padding: .3rem;
    background-image: linear-gradient(#4d4d4d, #3c3c3c);
    border-radius: 12px;
}

.silver::after {
    content: "★";
    font-size: 1.5rem;
    color: transparent;
    text-shadow: 0 0 0 #dddddd
}

.gold::after {
    content: "★";
    font-size: 1.5rem;
    color: transparent;
    text-shadow: 0 0 0 #ffc228
}

.spotlight .address {
    grid-column: 1 / -1;
    text-align: left;
    font-size: 1rem;
    border-radius: 12px;
    padding: 1rem;
}

/* JOIN PAGE */
.join-cont {

    display: grid;
    grid-template-columns: 100%;
}

.join-cont h2 {
    padding: 1rem;
}

/* Form */
.join-cont form {
    padding: 1rem;
    background-color: var(--background-color);
}

.join-cont form>label {
    display: flex;
    flex-direction: column-reverse;
    row-gap: .4rem;
    padding: .5rem;
    font-size: 1.1rem;
}

.join-cont input {
    padding: .5rem;
}

.join-cont textarea {
    height: 100px;
    resize: none;
}

.join-cont form h3 {
    padding: .5rem;
    font-size: 1.2rem;
    border-bottom: 1px solid black;
}

.join-cont .required::after {
    content: '*';
    font-family: arial;
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.membership-select {
    padding: 1rem 0;
    margin: 0 .5rem;
    font-size: 1.2rem;
}

.membership-select label {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: .5rem;
    border-bottom: 1px solid black;
    margin: 0 .5rem;
}

.membership-select input[type=radio] {
    width: 1.2rem;
    height: 1.2rem;
    margin: auto 4rem 0
}

.join-cont input[type=submit] {
    padding: 1rem 4rem;
    background-color: #fff;
    border: 1px solid black;
}

.join-cont input[type=submit]:hover {
    cursor: pointer;
}

/* Membership Cards */

.membership-section h2 {
    padding: 2rem 4rem;
}

.membership-card-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.membership-card-container article {
    padding: 3rem 0;
    margin: 1rem 4rem;
    border-radius: 12px;
    font-size: 1.4rem;
    animation: fadeIn 2s ease forwards;
}

.membership-card-container button {
    padding: .2rem .8rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    border: 1px solid black;
    border-radius: 8px;
}

.membership-card-container button:hover {
    cursor: pointer;
}

.nonprofit-membership {
    background-color: var(--primary-color);
}

.bronze-membership {
    background-image: linear-gradient(#dba10d, #85671a);
}

.silver-membership {
    background-image: linear-gradient(#c6c6c6, #6a6a6a);
}

.gold-membership {
    background-image: linear-gradient(#f9e683, #ffd607);
}

@keyframes fadeIn {
    0% {
        transform: translateY(50px);
        opacity: 70%;
    }

    100% {
        transform: translateY(0)
    }
}

/* MODAL */
.modal {
    margin: auto;

    max-width: 80%;
}

.modal h2 {
    padding: 1rem;
}

.modal li {
    font-size: 1rem;
    padding: .5rem;
}

.modal p {
    text-align: center;
    font-size: 1.2rem;
    padding: .5rem;
}

.modal button {
    border: none;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
}

.modal button:hover {
    cursor: pointer;
}

::backdrop {
    background-color: rgba(0, 0, 0, 40%);
}

/* Thank You Page */
.thankyou {
    text-align: center;
}

p.thankyou {

    font-size: 1.5rem;
}

p.thankyou-subtext {
    text-align: center;

    font-size: 1.2rem;
    padding: .5rem;
}

.form-info {
    background-color: var(--background-color);
    padding: 1rem;

    font-size: 1.25rem;
    max-width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
}

.form-info>* {
    padding: .5rem;
}

/* DARK MODE */

/* Dark contrast */
/* site wide */
.dark header,
.dark footer,
.dark footer div,
.dark a,
.dark section,
.dark h2,
.dark section p,
.dark button,

/* home page */
.dark .events,
.dark .events ul,
.dark .events h3,
.dark .events li:nth-child(even),
.dark p.membership,
.dark .weather .current h2,
.dark .weather .current p,
.dark .weather .current,

/* directory page */
.dark .list section div.body,
.dark .list section div.info-container a,
.dark .list section div.info-container p,
.dark div.info-container,

/* join page */
.dark form,
.dark .form-info {

    background-color: #2b2b2b;
    border-color: #2b2b2b;
    color: #fff;
    background-image: none;
}

/* Lighter Contrast */
/* site wide */
.dark,
.dark main,
.dark a:hover,
.dark button:hover,
.dark a.active,
.dark section.spotlight,
.main article .dark .dark-theme-button,

/* home page */
.dark .events li:nth-child(odd),
.dark .events li:nth-child(even) h3,
.dark .events li:nth-child(odd) p,
.dark div.forecast div,


/* directory page */
.dark section div.body,
.dark section div.info-container,
.dark section div.info-container p,
.dark section div.info-container a,

/* join page */
.dark form div,
.dark .modal {
    background-image: none;
    background-color: #3c3c3c;
    color: #fff;
}

.dark .weather {
    background-image: none;
    background-color: #3c3c3c;
    border-color: #2b2b2b;
}

.dark .dark .dark-theme-button {
    background-color: #d3d3d3
}

.dark .membership-card-container {
    color: black;
}

.dark .modal {
    border: none;
}