/* SITE */

:root {
    --primary-color: #99b4e3;
    --secondary-color: #004B97;
    --background-color: #EEEEEE;
    --text-color: #000;

    --main-font: "IBM Plex Serif", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */
header {
    background-color: var(--primary-color);
    align-items: end;
    display: grid;
    grid-template-columns: 44px auto 44px 88px;
    border-bottom: 1px solid #000;
}

.logo {
    margin: 1rem;
}

header h1 {
    font-family: var(--main-font);
    margin: 1rem 1rem 1rem 2rem;
    font-size: 1.4rem;
}

/* NAVIGATION */
.nav {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    display: none;
    margin: .2rem 0;
}

.nav ul {
    list-style: none;
    font-family: var(--main-font);
    padding: 0;
    margin-left: 1rem;
}

.nav a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 1rem;
    border-left: 1px solid #000;
}

.nav a:hover,
.nav a.active {
    background-color: #6783b7;
}

.nav.show {
    display: block;
}

.hamburger {
    grid-column: 3 / 4;
    border: none;
    background: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    color: #000;
    margin: 1rem;
    font-size: 2rem;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

.dark-theme-button {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    margin: 1rem auto;
    cursor: pointer;
}

main h1 {
    font-family: var(--main-font);
    font-size: 2.2rem;
    padding: 0 1rem;
}

div.business-display-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.display-button {
    font-family: var(--main-font);
    font-size: 1rem;
    padding: .6rem 3rem;
    margin: 0 2rem;
    cursor: pointer;
    background-color: var(--primary-color);
    border: 1px solid #000;
    border-radius: 4px;
}

.display-button:hover,
.display-button:active {
    background-color: #6783b7;
}

/* FOOTER */
footer {
    font-family: var(--main-font);
    display: grid;
    align-items: end;
    background-color: var(--primary-color);
    padding: 1rem;
}

footer div {
    padding: .2rem;
}

footer p {
    padding-top: .5rem;
}

footer h3 {
    font-size: 1rem;
}

.social {
    display: flex;
    justify-content: center;
}

.social a {
    padding: 1rem;
}

/* Directory Page */
.member-display.grid {
    font-family: var(--main-font);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;

    section {
        background-color: var(--background-color);
        border: 3px solid var(--primary-color);
        border-radius: 10px;
    }

    .body {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    img {
        width: 100%;
        height: auto;
        background-color: #fff;
        padding: 1rem;
    }

    h2,
    .type {
        background-color: var(--primary-color);
    }
}