@media only screen and (min-width: 38rem) {

    header,
    nav,
    main,
    footer {
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 44px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: 1px solid black;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
        padding: 1rem 1.8rem;
    }

    main {
        padding: 0rem;
    }

    .home {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 1.5rem;
    }

    #course-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 1.5rem;
    }

    #course-list div {
        margin: 0 1rem 1rem 1rem;
    }
}